

/* Normalize */

html {
   font-size: 62.5%;
   box-sizing: border-box;
   height: 100vh;

}

img {
   max-width: 100%;
   display: block;
}

/* ----------------- GENERAL -------------------- */

a {
   color: black;
}

/* Body */

body {
   font-family: 'Roboto', sans-serif;
   max-width: 1440px;
   margin: 0 auto;
   
}

.btn {
   text-decoration: none;
   background-color: blue;
   padding: 1.5rem 3rem;
   font-size: 1.3rem;
   color: white;
   display: inline-block;
}

.btn:hover {
   background-color: white;
   border: 1px solid blue;
   color: blue;
   font-weight: 700;

}


/* Header */
.header {
   padding-top: 7rem;
   margin: 0 auto;
}

.nav-logo {
   width: 6.5rem;
   height: 2rem;
}

.nav-principal {
   font-size: 1.5rem;
   width: 100rem;
   height: 5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}

.menu {
   width: 20rem;
   display: flex;
   justify-content: space-between;
   
}

.menu-a {
   text-decoration: none;
}

/* Projects Section */

.projects-section {
   margin: 0 auto 20rem auto;
   
}

.projects-h2 {
   font-size: 4rem;
   max-width: 110rem;
   margin: 0 auto 8rem auto;
}

.projects {
   width: 110rem;
   height: 45rem;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 3rem;
   
}

.projects h4 {
   font-size: 2rem;
   padding-left: 1.5rem;
}

.projects p {
   font-size: 1.5rem;
   padding-left: 1.5rem;

}

.projects a {
   font-size: 1.3rem;
   text-decoration: none;
   padding: 0 1.5rem 0 1.5rem;
   display: inline-block;
   margin-top: 2rem;

}

.projects a:hover {
  color: #a000ee; 
  font-weight: bold;

}

.projects-1 , .projects-2, .projects-3 {
   border-radius: 10px; /* para suavizar las esquinas */
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5); /* Sombras */
}

.projects-3 img {
   height: 263.38px;
   object-fit: cover;
}

/* CTA Section */

.cta-section {
   display: block;
   margin: 0 auto 20rem auto;
}

.cta-section-div {
   width: 132rem;
   height: 50rem;
   background-color: #ffc600;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
} 

.cta-section-div h2 {
   font-size: 4rem;
   margin: 0;
}

.cta-section-div p {
   font-size: 2rem;
   margin: 2rem auto 5rem;
}

.cta-section-form input{
   padding: 1.5rem 3rem;
   font-size: 1.3rem;
   margin-right: 1rem;

}

.btn-cta-section {
   cursor: pointer;
}

/* Footer */ 

.footer-container {
   width: 110rem;
   margin: 0 auto;
   padding: 5rem;
   display: flex;
   justify-content: space-between;
}

.footer-info {
   max-width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: 1.3rem;


}

.footer-info p {
   margin: 1.5rem 0 0 0;
   color: grey;

}

.footer-nav {
   display: flex;
   padding-left: 2rem;
   flex-direction: column;
   justify-content: space-between;
   font-size: 1.3rem;

}

.footer-nav-div a {
   color: grey;
}

.footer-nav a {
   text-decoration: none;
   margin: 0 8rem 0 0;

}


/* RESPONSIVE */

@media ( max-width: 468px) {

   /* --- GENERALES --- */
   .btn {
      padding: 1rem 2rem;
      font-size: 1.1rem;
   }
   
   .nav-logo {
      width: 5.5rem;
      height: auto;
   }
   
   .nav-principal {
      font-size: 1.1rem;
      width: auto;
      align-items: center;
      margin: 0 2rem;
   }
   
   .menu {
      width: auto;
      gap: 1.2rem;
   }
   
   /* Footer */ 

   .footer-container {
      width: auto;
      margin: 0 auto;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .footer-info {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1.3rem;
      align-items: center;
      margin-bottom: 5rem;

   }

   .footer-info img {
      text-align: center;
      width: 10rem;
   
   }

   .footer-info p {
      margin: 1.5rem 0 0 0;
      color: grey;
   }

   .footer-info p:first-of-type {
      margin-top: 4rem;
  }
  
   .footer-nav {
      padding: 0;
   }

   .footer-nav-div a {
      display: flex;
      justify-content: center;
   }

   .footer-nav a {
      text-decoration: none;
      margin: 0 auto 1rem auto;
   }


}

@media ( min-width: 469px) and (max-width: 1023px) {

   .services a:hover {
      color: orange;
   }

}